<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Dark"
     ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        Brandname
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="">Hjee</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="counter">Counter</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="fetchdata">FetchData</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="newpage">NewPage</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Primary">Sign up</Button>
                <Button Color="Color.Secondary">Log in</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    
}
